@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  background-color:#F6BB2C
}

h1{
  font-family: 'Permanent Marker', cursive;
  color:#D1473A;
  text-align:center;
}



 

.alert {
  position: center;
  font-family: 'Permanent Marker', cursive;
  color:black;
  top: -3rem;
  left: 0;
  /* background-color: rgb(255, 255, 255); */
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  font-family: 'Permanent Marker', cursive;
  border: none;
  border-bottom: 0.1rem solid rgb(255, 0, 0);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: rgb(240, 13, 13);
}

.search-form input[type="submit"] {
  width: 25%;
  
  background-color: #FF7F4B;
  color: rgb(0, 0, 0);
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #A2B63F;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  
}

.recipe h2 {
  background-color: #A2B63F;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  
  color: rgb(0, 0, 0);
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #b44040;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: #FF7F4B;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #A2B63F;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #b44040;
  font-size: 1.3rem;
}